# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
.env

# Pytest / coverage
.cache/
.pytest_cache/
.coverage
.coverage.*
.htmlcov/

# Database files
*.db
*.db-journal
*.db-wal
*.db-shm

# Frontend / Node modules
node_modules/
.DS_Store
dist/
out/
